In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Store filepath in a variable
data_import_full = "resources/properties_2017.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
data_df = pd.read_csv(data_import_full, encoding="ISO-8859-1")

/Users/Steve/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Show just the header
data_df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

In [5]:
to_drop = ['architecturalstyletypeid',
            'airconditioningtypeid',
            'architecturalstyletypeid',
            'basementsqft',
            'buildingclasstypeid',
            'decktypeid',
            'threequarterbathnbr',
            'finishedfloor1squarefeet',
            'finishedsquarefeet6',
            'finishedsquarefeet12',
            'finishedsquarefeet15',
            'finishedsquarefeet13',
            'finishedsquarefeet50',
            'fips',
            'fireplaceflag',
            'fullbathcnt',
            'garagetotalsqft',
            'hashottuborspa',
            'heatingorsystemtypeid',
            'poolsizesum',
            'pooltypeid10',
            'pooltypeid2',
            'pooltypeid7',
            'propertycountylandusecode',
            'propertylandusetypeid',
            'propertyzoningdesc',
            'rawcensustractandblock',
            'censustractandblock',
            'roomcnt',
            'storytypeid',
            'typeconstructiontypeid',
            'yardbuildingsqft17',
            'yardbuildingsqft26',
            'taxdelinquencyflag',
            'taxdelinquencyyear']

In [6]:
#deleting columns we dont want
data_df.drop(columns=to_drop, inplace=True)
data_df.head()

,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,fireplacecnt,garagecarcnt,latitude,longitude,lotsizesquarefeet,...,regionidneighborhood,regionidzip,unitcnt,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount
0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,34144442.0,-118654084.0,85768.0,...,NaN,96337.0,NaN,NaN,NaN,NaN,9.0,2016.0,9.0,NaN
1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,34140430.0,-118625364.0,4083.0,...,NaN,96337.0,NaN,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN
2,0.0,0.0,NaN,NaN,73026.0,NaN,NaN,33989359.0,-118394633.0,63085.0,...,NaN,96095.0,2.0,1959.0,1.0,660680.0,1434941.0,2016.0,774261.0,20800.37
3,0.0,0.0,6.0,NaN,5068.0,NaN,NaN,34148863.0,-118437206.0,7521.0,...,27080.0,96424.0,NaN,1948.0,1.0,580059.0,1174475.0,2016.0,594416.0,14557.57
4,0.0,0.0,NaN,NaN,1776.0,NaN,NaN,34194168.0,-118385816.0,8512.0,...,46795.0,96450.0,1.0,1947.0,1.0,196751.0,440101.0,2016.0,243350.0,5725.17

In [7]:
#view which columns have null values
print(data_df.isnull().sum())

bathroomcnt                        2957
bedroomcnt                         2945
buildingqualitytypeid           1043822
calculatedbathnbr                117156
calculatedfinishedsquarefeet      45097
fireplacecnt                    2672093
garagecarcnt                    2094209
latitude                           2932
longitude                          2932
lotsizesquarefeet                272706
poolcnt                         2445585
regionidcity                      62128
regionidcounty                     2932
regionidneighborhood            1828476
regionidzip                       12714
unitcnt                         1004175
yearbuilt                         47833
numberofstories                 2299541
structuretaxvaluedollarcnt        46464
taxvaluedollarcnt                 34266
assessmentyear                     2933
landtaxvaluedollarcnt             59926
taxamount                         22752
dtype: int64

In [8]:
data_df['buildingqualitytypeid'].value_counts()

6.0     561502
8.0     501925
4.0     448049
7.0     190244
5.0     107053
9.0      69428
11.0     28488
3.0      17858
10.0     10629
12.0      4123
1.0       1776
2.0        320
Name: buildingqualitytypeid, dtype: int64

In [9]:
data_df = data_df[data_df.buildingqualitytypeid.notnull()]
data_df.shape

(1941395, 23)

In [10]:
print(data_df.isnull().sum())

bathroomcnt                           0
bedroomcnt                            0
buildingqualitytypeid                 0
calculatedbathnbr                 12687
calculatedfinishedsquarefeet        101
fireplacecnt                    1941395
garagecarcnt                    1941386
latitude                              0
longitude                             0
lotsizesquarefeet                 35632
poolcnt                         1562033
regionidcity                      35250
regionidcounty                        0
regionidneighborhood            1007953
regionidzip                        2223
unitcnt                            9027
yearbuilt                          1965
numberofstories                 1931712
structuretaxvaluedollarcnt         3564
taxvaluedollarcnt                   226
assessmentyear                        0
landtaxvaluedollarcnt               226
taxamount                          3569
dtype: int64